<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<h1 class="title"></h1>

		The temp in Atlanta is <%= body.main.temp %>

</body>
</html>